body {
    background-color: rgb(233, 232, 232);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;

}

.clase1 {
    color: #02630C;
    font-style: italic;
    font-style: bold;
}

.clase2 {
    color: #1f4c9b;
}

.clase3 {
    color: #351E6B;
    font-style: italic;
}

.clase4 {
    color: #02630C;
}