body {
    background-color: rgb(161, 255, 169);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.clase1 {
    color: #000549;
    font-style: italic;
    font-style: bold;
}

.clase2 {
    color: #522c00;
}

.clase3 {
    color: #000549;
}